* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color:#1F253D;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.board {
  background-color:lightgray;
  height: 400px;
  border: black 2px solid;
  border-radius: 10px;
  
}

.main-content {
  margin: auto;
  margin-top: 200px;
  width: 400px;

}

.main-content h1 {
  font-size: 48px;
  color:white;

}